
@media screen and (max-width: 1000px) {


  .banner-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 5% 10% 0;

}
}